[submodule "nvim"]
	path = nvim/.config/nvim
	url = https://github.com/Abishevs/nvim.git 
[submodule "newsboat/.newsboat"]
	path = newsboat/.newsboat
	url = git@github.com:Abishevs/.newsboat.git
[submodule "obsidian/.obsidian/second-brain"]
	path = obsidian/.obsidian/second-brain
	url = git@github.com:Abishevs/second-brain.git
